# CMake
build/
cmake-build-*/

# IDE
.idea/

# Maven
target/

# Built native libraries. The JNI one is written into the Maven resources tree, where
# `mvn package` picks it up as an ordinary resource.
*.so
*.dylib
*.dll
*.a
java/src/main/resources/com/eaglys/llamaaudio/

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
